/*font style*/
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Gentium+Plus:wght@400;700&family=Open+Sans:wght@400;600;700;800&display=swap');

* {
    margin:0px;
    padding:0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 200px 30px 200px;
}

.logo-text {
    font-size: 45px;
    font-weight: 800;
}

.orange-text {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

nav ul li a:hover {
    color: #FD6E0A;
}

nav ul li {
    margin-left: 40px;
}

nav li a {
    text-decoration: none;
}

.orange-button {
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
}

.herosec div .white-button {
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    background-color: #ffffff;
    color:#FD6E0A;
    margin-left: 30px;
}

.header {
    background-color: white;
}

.herosec {
    padding: 30px 30px 30px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.herosec div > * {
    margin-bottom: 20px;
}

.hero-greet {
    font-size: 45px;
    font-weight: 600;
}

.hero-title {
    font-size: 85px;
    font-weight: 700;
}

.herosec div p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    width:585px;
}

.hardy {
    width: 570px;
    height: 660px;
}