@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

/* GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;

    ::selection {
        color: white;
        background-color: #FD6E0A;
    }
}

.btn-primary {
    padding: 15px 30px;
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
    border-radius: 3px;
}


/* NAVIGATION BAR STYLE */

.website-header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-area {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;

}

.nav-logo-text {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nav-menu {
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 50px;
}